<ul class="py-2 flex justify-evenly bg-grey-2 uppercase" local-class="menu" data-test-channels="list">
  {{#each @channels as |channel|}}
    <li data-test-channels="list-item">
      <LinkTo @route="channels.channel" @model={{channel}} data-test-channels="list-item-name">
        {{channel.name}}
      </LinkTo>
    </li>
  {{/each}}
</ul>