<section class="flex pt-1 justify-between w-full text-xs" data-test-info-panel>
  <span class="info-panel__logged-as-section">
    {{t "Channels::Channel::InfoPanel.logged-as"}} <span class="underline" data-test-channels-channel-info-panel="nickname">{{@user.firstname}}</span>
  </span>
  <span class="info-panel__logged-at-section">
    {{t "Channels::Channel::InfoPanel.last-login"}} <span class="underline" data-test-channels-channel-info-panel="logged-at">{{format-date this.lastLoginAt outputFormat="HH:mm"}}</span>
  </span>
</section>