$medium-padding: map-get($gaps, 'medium');

@mixin closeIcon() {
  @include link-colors(#000000);
  @include link-no-decoration();

  position: absolute;
  top: $medium-padding;
  right: $medium-padding;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  svg {
    font-size: map_get($font-sizes, 'mediumx');
    vertical-align: sub;
    color: map_get($color-brand, 'orange');
  }
}
