<section class="flex pt-1 justify-between w-full text-xs info-panel">
  <span class="info-panel__logged-as-section">
    Logged in as <span class="underline info-panel__nickname">{{@user.nickname}}</span>
  </span>
  <span class="info-panel__logged-at-section">
    Last login at <span class="underline info-panel__logged-at">{{format-date this.lastLoginAt outputFormat="HH:mm"}}</span>
  </span>
</section>