<section class="flex pt-1 justify-between w-full text-xs info-panel">
  <span class="info-panel__logged-as-section">
    {{t "InfoPanel.login-account"}} <span class="underline" data-test-info-panel="nickname">{{@user.nickname}}</span>
  </span>
  <span class="info-panel__logged-at-section">
    {{t "InfoPanel.last-login"}} <span class="underline" data-test-info-panel="timestamp">{{format-date this.lastLoginAt outputFormat="HH:mm"}}</span>
  </span>
</section>