 <ChannelHeader
    @name={{@model.name}}
    @description={{@model.description}}
  />

  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
    <Messages @messages={{@model.messages}} />
  </div>

  <footer class="pb-6 px-4 flex-none channel-footer">
    <MessageForm />
    <InfoPanel @user={{hash nickname="Honza"}} />
  </footer>