<div class="flex items-center justify-center my-6">
  <Ui::SearchForm @searchTerm={{@searchTerm}} />
</div>

<div class="flex-row items-center justify-center my-6">
  <Channels::Channel::Messages
    @messages={{@messages}} {{! messages vpravo = pole těch vyfiltrovaných zpráv}}
  />
</div>