<div class="flex justify-center items-center h-full" role="list">
  <img src="/assets/svgs/spinner.svg" alt="loading spinner" class="w-6 animate-spin-slow">
  <div class="ml-2 animate-pulse">Loading...</div>
</div>